<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mpoo.bsi.ufrpe.organictrade">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_logo_organic_trade"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">]
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".OrganicTradeControler.GUI.LoginActivity" />
        <activity android:name=".OrganicTradeControler.GUI.RegisterUserActivity" />
        <activity android:name=".OrganicTradeControler.GUI.UserActivity" />
        <activity android:name=".OrganicTradeControler.GUI.RegisterTentItemActivity" />
        <activity android:name=".OrganicTradeControler.GUI.LoadingActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".OrganicTradeControler.GUI.SearchProductsActivity"></activity>
        <activity android:name=".OrganicTradeControler.GUI.ContactActivity" />
        <activity android:name=".OrganicTradeControler.GUI.teste">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>